{% extends "index.html" %}

{% block content %}
{% if messages %}
    {% for message in messages %}
      <div class="alert alert-success" role="alert">
            {{ message }}
      </div>
    {% endfor %}
{% endif %}
<form action="{% url "add_course" %}" method='POST' > {% csrf_token %}
      <label class="mt-3">Title</label><br />
      <input type="text" name="title"><br />
      <label>Start Date</label><br />
      <input type="date" name="start_date"><br />
      <label>End Date</label><br />
      <input type="date" name="end_date"><br />
      <label>Number of lectures</label><br />
      <input type="number" name="number_of_lectures"><br />
      <input type="submit" value="Add course" class="apply-button mt-3"/>
</form>

{% endblock %}
